/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

/* main img {
  width: 400px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

/*.item-double {
  flex: 2;
}*/

.group img {
  width: 100%;
  padding: 10px 0px 20px 0px;
}





/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

header nav ul li {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* -------  Join Form ------- */


form {
  border: 2px solid #6b1a22;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
     margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 15px;
  }
 
  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .item-double {
    flex: 2;
  }

  .item {
    align-items: center;
    justify-content: center;
  }

  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  

}